body {
	background-color: black;
	color: silver;
}
table { 
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
td {
	vertical-align: top;
}
h1 {
	color: limegreen;
}
p {
	color: yellow;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}



.scrollit {
    overflow:scroll;
    height:100px;
}

#menu-button {
  position: fixed;
  width: 50px;
  background-color: dimgray;
  top: 20px;
  left: 20px; /* Adjust the left position as needed */
  z-index: 99999;
}

